#privacypolicy{
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 15px;
    background: #161513;
}
.privacypolicy-title{
    font-size: 40px;
    font-weight: 600;
    background: linear-gradient(0deg, rgba(195,34,56,1) 0%, rgba(245,86,42,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (max-width:768px){
    #privacypolicy{
        height: max-content;
    }

}